*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
.image-generator{
    height: 40vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: url(./bg.jpg);
    background-size: cover;
    background-position: center;
}

.image-generator::before{
    content: "";
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0%;
    width: 100%;
    height: 100%;
    background:#121212;

}
.image-generator .content{
    color: #fff;
    padding: 0 15px;
    position: relative;
    max-width: 760px;
    text-align: center;
}
.image-generator h1{
    font-size: 2.5rem;
    font-weight: 700;
}
.image-generator p{
    font-size: 1.35rem;
    font-weight: 10;
}
.image-generator .generate-form{
    height: 56px;
    display: flex;
    padding: 6px;
    align-items: center;
    margin: 45px 0 15px;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    border-radius: 30px;
}
.generate-form .prompt-input{
    width: 100%;
    height: 100%;
    font-size: 1rem;
    outline: none;
    border: none;
    background: none;
    padding: 0 17px;
}
.generate-form .controls{
    display: flex;
    height: 100%;
    gap: 15px;
}
.generate-form .img-quatity{
    outline: none;
    border: none;
    background: none;
    font-size: 1rem;
}
.generate-form .generate-btn{
    font-size: 1rem;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 25px;
    cursor: pointer;
    border-radius: 30px;
    background: #4949E7;


}
.image-gallery{
    flex-wrap: wrap;
    display: flex;
    gap: 15px;
    padding: 0 15px;
    max-width: 1250px;   
    margin: 50px auto;
    justify-content: center ;
}
.image-gallery .img-card{
    width: 285px;
    aspect-ratio: 1 / 1;
    display: flex;

    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    background: #f2f2f2;

}
.image-gallery .img-card img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.image-gallery .img-card.loading img{
    width: 80px;
    height: 80px;
}

.image-gallery .img-card .download-btn img{
    width: 14px;
    height: 14px;
}
.image-gallery .img-card .download-btn{
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: #fff;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
}
.image-gallery .img-card:not(.loading) .download-btn{
    display: flex;
}
@media screen and (max-width : 760px) {
    .image-generator h1{
        font-size: 1.8rem;
    }
    .image-generator p{
        font-size: 1rem;
    }
    .image-generator .generate-form{
        margin-top: 30px;
        height: 52px;
        display: block;
    }
    .generate-form .controls{
        height: 40px;
        margin-top: 15px;
        align-items: center;
        justify-content: flex-end;
    }
    .generate-form .img-quatity option{
        color: #000;
    }
    .generate-form .generate-btn{
        height: 100%;   
    }
    .image-gallery{
        margin-top: 20px;
    }
    .image-gallery .img-card:not(.loading) .download-btn{
        display: flex;
    }
    .image-gallery{
        margin-top: 20px;
    }
}
"media screen and (max-width: 550px){
    .image-gallery .img-card{
        width: 100&;
    }

}"